/* Basic settings */

* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
}

:root {
  --container-width-lg: 80%;
  --container-width-small: 95%;

  --radius-1: 1.2rem;
  --radius-2: 0.8rem;
  --radius-3: 0.5rem;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-white: #fff;
  --color-text-dark: #333;
  --color-black: #000;

  --color-primary: #362fd9;
  --color-primary-light: #6863f7;
  --color-primary-lighter: #d0d9f7;
  --color-nav-bg: #eeeeee;

  --color-secondary-light: #eba293;
  --color-secondary-dark: #d94c2f;

  --color-accent-red: #ee2525;
  --color-accent-red-light: #e73d3d;

  --color-header-bg-1: #d7f3f3;
  --color-header-bg-2: #fff;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

.container {
  width: var(--container-width-lg);
  margin-inline: auto;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

p,
a {
  font-size: 1.5rem;
}

.btn,
.btn:link,
.btn:visited {
  text-decoration: none;
  padding: 1rem 2.5rem;
  display: inline-block;
  border-radius: var(--radius-3);
  transition: all 0.2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-3px);
  background: var(--color-primary-light);
  box-shadow: 0 0.5rem 1rem var(--color-text-dark);
}

.btn:active {
  outline: none;
  transform: translateY(-2px);
  box-shadow: 0 0.3rem 0.7rem var(--color-text-dark);
}

.btn--primary {
  background: var(--color-primary);
}

.btn--white {
  color: #fff;
}

button a {
  /* color: #fff; */
  font-family: inherit;
}
button {
  background: none;
}
/* ****************************************************************************************** */
/* End of setting ****************************************************************************/
/* ****************************************************************************************** */

/* Navigation *********************************************************************/

.main__nav {
  background: var(--color-nav-bg);
}

.logo {
  font-size: 2rem;
  color: var(--color-primary);
}

.top__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1.5rem;
}
form.form__1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 40%;
}
form.form__1 input {
  font-family: inherit;
  font-size: 1.5rem;
  border: none;
  background-color: var(--color-grey-light-3);
  color: inherit;
  padding: 0.7rem 2rem;
  border-radius: 10rem;
  width: 90%;
  transition: all 0.2s;
  margin-right: -3.2rem;
}

form.form__1 input::placeholder {
  font-size: 1.2rem;
}

form.form__1 input:focus {
  outline: none;
  width: 100%;
  background-color: var(--color-grey-light-1);
}

form.form__1 .search__button {
  background-color: var(--color-grey-light-3);
}

.search__field:focus + .search__button.search__icon {
  background-color: var(--color-grey-light-1);
}
.form__1 input:focus + .search__button {
  background-color: var(--color-grey-light-1);
}

form.form__1 button {
  border: none;
}
form.form__1 button:focus {
  outline: none;
  background-color: var(--color-grey-light-1);
}
form.form__1 .search__icon {
  outline: none;
}
form.form__1 button:active {
  transform: translateY(2px);
}

form.form__1 .search__icon {
  height: 1.8rem;
  width: 1.8rem;
  color: var(--color-grey-light-4);
}

.logs {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.log1 {
  color: #fff;
}

.hearts {
  display: flex;
  gap: 1.2rem;
}
.hearts i {
  display: inline-block;
  display: flex;
  font-size: 2.5rem;
  font-weight: 700;
}
.buttons {
  display: flex;
  gap: 2rem;
}

button .love__icon {
  height: 2.25rem;
  width: 2.25rem;
}
button.cart__button {
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
}
.item__count span.cart__number {
  display: inline-block;
  font-size: 1rem;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;
  background-color: var(--color-accent-red);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -9px;
  right: 2px;
}
button .cart__icon {
  height: 2.25rem;
  width: 2.25rem;
  fill: var(--color-text-dark);
}
div.line {
  display: inline-block;
  height: 1rem;
  width: 100%;
  border-top: 2px solid var(--color-grey-light-4);
}

.bottom__nav ul {
  display: flex;
  gap: 1.8rem;
  justify-content: center;
  font-weight: 600;
  width: fit-content;
}
.bottom__nav {
  /* display: flex; */
  justify-content: center;
  padding-bottom: 1rem;
}
.bottom__nav a:link,
.bottom__nav a:visited {
  display: inline-block;
  color: var(--color-primary);
  transition: all 0.2s;
}
.bottom__nav a:hover,
.bottom__nav a:active {
  color: var(--color-accent-red);
  transform: translateY(-2px);
}
.bottom__nav ul {
  display: flex;
  gap: 1.8rem;
  justify-content: center;
  font-weight: 600;
  width: fit-content;
}

ul li a .nav__items {
  display: inline-block;
  font-size: 1.3rem;
  color: #fff;
}

/* Banner ********************************************* */
/********************************************** */

.banner {
  background-image: linear-gradient(
    to right bottom,
    var(--color-secondary-light),
    var(--color-secondary-dark)
  );
  width: 100%;
  height: 100%;
  font-family: inherit;
}

.banner-2 {
  background-image: linear-gradient(
    to right bottom,
    var(--color-accent-red),
    var(--color-accent-red-light)
  );
  width: 100%;
}
.banner-3 {
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary),
    var(--color-primary-light)
  );
}

.banner__content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding-block: 8rem;
}

h2.main__head {
  line-height: 4rem;
  font-size: 3rem;
  width: 100%;
}
h2.main__head span {
  color: var(--color-primary);
}
h2.main__head span.span-3 {
  color: var(--color-white);
}

p.head__text {
  font-weight: 500;
  color: var(--color-black);
  /* color: var(--color-accent-red); */
}

button.banner {
  margin-top: 2rem;
  background: none;
  border: none;
  outline: none;
  display: flex;
}
.btn-3 {
  background: var(--color-accent-red);
  color: var(--color-white);
}
.btn-3:hover {
  background: var(--color-grey-light-4);
  color: var(--color-accent-red);
}

.image__side {
  display: flex;
  justify-content: center;
}
.image__side img {
  width: 80%;
  border-radius: 1rem;
}

/* SLIDER */
.slider {
  /* max-width: 100rem; */
  height: 50rem;
  margin: 0 auto;
  position: relative;

  /* IN THE END */
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50rem;

  display: flex;
  align-items: center;
  justify-content: center;

  /* THIS creates the animation! */
  transition: transform 1s;
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;

  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
}

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: red;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;

  /* Only necessary when overlying images */
  /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  /* background-color: #fff; */
  background-color: #888;
  opacity: 1;
}

/* Main Section *************************************************** */
.main__content {
  padding-bottom: 4rem;
  padding-top: 1rem;
  padding-inline: 3rem;

  gap: 2rem;
}
.aside__bar h1 {
  text-align: center;
  font-size: 1.4rem;
  color: var(--color-primary);
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.aside__bar--main {
  display: grid;
  grid-template-columns: auto 30%;
  align-items: center;
}

.aside__bar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-weight: 500;
}

.side__nav__item {
  position: relative;
  border: 1px solid var(--color-grey-light-4);
  border-radius: 1rem;
  overflow: hidden;
}
.side__nav__item:hover::before {
  transform: scaleY(1);
  width: 100%;
}
.side__nav__item {
  margin-bottom: 0.5rem;
}

.side__nav__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: var(--color-primary);
  transform: scaleY(0);
  transition: transform 0.3s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
}

.aside__bar ul a:link,
.aside__bar ul a:visited {
  color: var(--color-text-dark);
  font-size: 1.25rem;
  text-transform: uppercase;
  display: block;
  padding: 1rem 3rem;
  font-weight: 600;
  position: relative;
  z-index: 10rem;
}
.aside__bar ul a:hover,
.aside__bar ul a:active {
  color: var(--color-grey-light-1);
}

/* Gadget Container */

.stars {
  display: flex;
  align-items: center;
}

.stars h2 {
  font-weight: 600;
  font-size: 1.9rem;
  color: var(--color-primary);
}

.gadget__icon {
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
  align-self: flex-end;
}

.gadget__container img {
  width: 90%;
  height: 50%;
  background-size: cover;

  transform: scale(0.8);
  transition: all 0.3s;
}
.gadget__container:hover img {
  transform: scale(1);
}

h2.product__name {
  font-size: 1.3rem;
  width: fit-content;
  font-weight: 500;
}

.details {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.gadget__container {
  /* background: var(--color-accent-red); */
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  border: 1.5px solid var(--color-grey-light-4);
}

.gadget__container button.love__button {
  background: none;
}

.product-quantity-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 1rem;
}
select {
  width: 7rem;
  color: rgb(33, 33, 33);
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(213, 217, 217);
  border-radius: 8px;
  padding: 3px 5px;
  font-size: 15px;

  cursor: pointer;
  box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
}

.amounts h2 {
  font-size: 1.5rem;
  font-weight: 500;
  /* color: var(--color-primary); */
  background: var(--color-white);

  padding: 0.5rem 0.8rem;
}
button.add__btn {
  width: 95%;
  display: inline-block;
  color: var(--color-white);
  margin-top: 3rem;
  font-family: inherit;
  transition: all 0.3s;
  border-radius: 2rem;
}
button.add__btn:hover {
  background: var(--color-primary-light);
  transform: translateY(0);
}
.content__view {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  align-content: center;
  justify-content: center;
}

.add__buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

button svg.cart__icon--main {
  display: block;
  width: 3rem;
  height: 3rem;

  margin-right: 2rem;
}

button svg.star__icon--main {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  margin-left: 2rem;
  fill: #ffcd3c;
}

.content {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 2rem;
  margin-top: 2rem;
  background: var(--color-primary-lighter);
  padding-block: 2rem;
  border-top-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
}
.best__seller--content img {
  width: 11%;
}
.best__seller--content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.side__bar h1 {
  font-size: 1.4rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-primary);
}

.side__bar {
  /* display: flex; */

  /* background-color: var(--color-grey-light-2); */
  padding: 2rem;
  border-top-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
}
strong {
  font-size: 1.3rem;
}

.slash__price {
  display: flex;
  gap: 8rem;
  /* justify-content: space-between; */
}
.slash {
  color: var(--color-accent-red);
  font-size: 1.3rem;
  font-weight: 400;
  text-decoration: line-through;
}
